@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(../image/totop.png) no-repeat left top;
  background-size: contain;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(../image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

.jssorl-009-spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.loading-img {
  margin-top: -19px;
  position: relative;
  top: 50%;
  width: 38px;
  height: 38px;
}

.jssorl-009-spin img {
  -webkit-animation-name: jssorl-009-spin;
          animation-name: jssorl-009-spin;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes jssorl-009-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes jssorl-009-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.jssorb132 {
  position: absolute;
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.jssorb132 .i {
  width: 12px;
  height: 12px;
  position: absolute;
  cursor: pointer;
}

.jssorb132 .i .b {
  fill: #fff;
  fill-opacity: 0.8;
  stroke: #000;
  stroke-width: 1600;
  stroke-miterlimit: 10;
  stroke-opacity: 0.7;
}

.jssorb132 .i:hover .b {
  fill: #000;
  fill-opacity: 0.7;
  stroke: #fff;
  stroke-width: 2000;
  stroke-opacity: 0.8;
}

.jssorb132 .iav .b {
  fill: #000;
  stroke: #fff;
  stroke-width: 2400;
  fill-opacity: 0.8;
  stroke-opacity: 1;
}

.jssorb132 .i.idn {
  opacity: 0.3;
}

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 55px;
  height: 55px;
  top: 0px;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: 0.8;
}

.jssora051.jssora051dn {
  opacity: 0.5;
}

.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}

.jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 4000px;
  height: 1700px;
  overflow: hidden;
  visibility: hidden;
}

.slides {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 4000px;
  height: 1700px;
  overflow: hidden;
}

.slides img {
  -o-object-fit: cover;
     object-fit: cover;
}

.svg_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  width: 200;
  background-color: #ffffff;
}

body {
  overflow-x: hidden;
}

.PaddingTop {
  line-height: 90px;
}

@media only screen and (max-width: 1024px) {
  .PaddingTop {
    line-height: 60px;
  }
}

.PhoneTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
  width: 100%;
  border-bottom: 3px solid #ccc;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .PhoneTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .PhoneTop {
    display: none;
  }
}

.PhoneTop .PhoneTop__mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 69px;
  height: 60px;
}

.PhoneTop .PhoneTop__mainnav .PhoneTop__mainnav__icon {
  display: block;
  cursor: pointer;
  margin: 10px 15px;
}

.PhoneTop .PhoneTop__mainnav .bar1,
.PhoneTop .PhoneTop__mainnav .bar2,
.PhoneTop .PhoneTop__mainnav .bar3 {
  width: 35px;
  height: 5px;
  background-color: #5d5d5d;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.PhoneTop .PhoneTop__mainnav .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.PhoneTop .PhoneTop__mainnav .change .bar2 {
  opacity: 0;
}

.PhoneTop .PhoneTop__mainnav .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.PhoneTop .PhoneTop__mainnav .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.PhoneTop .PhoneTop__mainnav__container,
.PhoneTop #PhoneTop__mainnav__container {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-color: #ccc;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col {
  width: 50%;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 100%;
  font-family: "微軟正黑體";
  color: #444;
  font-size: 13px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng {
  font-size: 10px;
  font-weight: bold;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__chi,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__chi {
  font-size: 10px;
  font-weight: bold;
}

@media only screen and (min-width: 767px) {
  .PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng,
  .PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng {
    font-size: 15px;
  }
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a:hover,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #177cc4;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col__line,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col__line {
  width: 1px;
  height: 80%;
  margin: 0 20px;
  background-color: #444;
}

.PhoneTop .PhoneTop__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 60px;
}

.PhoneTop .PhoneTop__logo .PhoneTop__logo__image {
  max-width: 320px;
  max-height: 40px;
  padding: 0 80px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.918);
}

.Top .Top__container {
  max-width: 1280px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
}

@media only screen and (min-width: 0px) {
  .Top {
    display: none;
  }
  .Top .Top__logo img {
    display: none;
  }
  .Top .Top {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .Top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Top .Top__logo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Top .Top__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Top__logo {
  margin: 0 auto;
}

.Top__logo img {
  display: none;
  max-width: 100%;
  max-height: 40px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

.Top__nav {
  display: none;
  position: relative;
  z-index: 1;
  font-family: 微軟正黑體;
  font-size: 13px;
  font-weight: 700;
  color: #5d5d5d;
  height: 38px;
}

.Top__nav ul {
  height: 24px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Top__nav_col {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  width: 140px;
  list-style: none;
  height: 40px;
  background-color: #444;
  border-radius: 7px;
}

.Top__nav_col a {
  color: #5d5d5d;
}

.Top__nav_col:hover {
  background-color: #177cc4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Top__nav_col:hover .Top__nav_title_under {
  display: block;
}

.Top__nav_col:hover .Top__nav_title_under .Top__nav_subtitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_col:hover .Top__nav_title_under .Top__nav_subtitle:hover {
  color: #177cc4;
  background-color: #e0e0e0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_col:hover .Top__nav_title_under .Top__nav_subtitle:hover .ion-android-arrow-dropdown:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_col:hover .Top__nav_title_under .Top__nav_subtitle .ion-android-arrow-dropdown:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__burger__icon {
  display: inline-block;
  margin-top: -2.6px;
  padding-right: 0.5px;
}

.Top__nav .Top__nav_col__burger__icon .bar1,
.Top__nav .Top__nav_col__burger__icon .bar2,
.Top__nav .Top__nav_col__burger__icon .bar3 {
  width: 14px;
  height: 2px;
  background-color: #fff;
  margin-top: 2.6px;
  border-radius: 2px;
}

.Top__nav .Top__nav_title_under {
  display: none;
  padding-top: 15px;
}

.Top__nav .Top__nav_title_under ::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #e1e1e1;
  -webkit-transform: translateY(680%);
          transform: translateY(680%);
}

.Top__nav .Top__nav_title {
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: 微軟正黑體;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.Top__nav_subtitle {
  width: 250px;
  font-family: 微軟正黑體;
  font-size: 16px;
  font-weight: 540;
  line-height: 45px;
  padding-left: 20px;
  color: #fff;
  border: 1px solid #ccc;
  background-color: #ffffff;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Top__nav_subtitle .ion-android-arrow-dropdown {
  line-height: inherit;
  padding-right: 5px;
}

.Top__nav_subtitle .ion-android-arrow-dropdown ::before {
  content: "\f35f";
}

.Top__nav_container__language {
  position: relative;
}

.Top__nav_container__language .Top__nav {
  right: 0;
  text-align: right;
}

.Top__nav_container__menu {
  position: relative;
}

.main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: #fff;
}

@media only screen and (max-width: 550px) {
  .main {
    max-width: 320px;
    width: 90%;
  }
}

@media only screen and (min-width: 550px) {
  .main {
    max-width: 480px;
    width: 90%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 720px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 980px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

.main__nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .main__nav {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .main__nav {
    display: none;
  }
}

.main__nav-a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 100%;
  line-height: 30px;
  font-family: "微軟正黑體";
  font-weight: 700;
  color: #444;
  font-size: 13px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .main__nav-a {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .main__nav-a {
    width: 25%;
  }
}

.main__nav-a:hover {
  color: #177cc4;
  background-color: #f7f7f7;
}

.main_nav-eng {
  font-size: 24px;
  font-weight: bold;
}

.discover__box {
  padding: 36px 0 0 0;
}

@media only screen and (max-width: 550px) {
  .discover__box {
    padding: 36px 30px;
  }
}

.discover__title {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  line-height: 35px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
}

.discover__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
  margin-left: 12.5px;
  line-height: 28px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: 1000;
  color: #5d5d5d;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 24px;
}

@media only screen and (max-width: 550px) {
  .discover__subtitle {
    font-size: 23px;
    margin-left: 0px;
  }
}

.discover__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discover__content__card {
  margin-bottom: 30px;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .discover__content__card .discover__content__text {
    width: 100%;
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 1;
  }
}

@media only screen and (min-width: 550px) {
  .discover__content__card {
    width: calc(100% / 2);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .discover__content__card {
    width: calc(100% / 2);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .discover__content__card {
    width: calc(100% / 4);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .discover__content__card {
    width: calc(100% / 4);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 0;
  }
}

.discover__content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-family: 微軟正黑體, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  vertical-align: 0;
  margin: 0 12.5px;
}

.discover__content__box .discover__content__text__image {
  position: relative;
  width: 100%;
  height: auto;
}

.discover__content__box .atoppadding {
  z-index: 1;
  position: absolute;
  text-align: center;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #5d5d5d;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.discover__content__box .apadding {
  opacity: 1;
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 100%;
  padding: 6px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.discover__content__box:hover .atoppadding {
  position: absolute;
  z-index: 1;
  color: #177cc4;
}

.discover__content__box:hover .apadding {
  opacity: 1;
  position: absolute;
  color: #177cc4;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.reality-project {
  padding: 25px 0;
  background-color: #333;
  width: 100%;
  margin: 0;
}

.reality-project .reality-project__box {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 550px) {
  .reality-project .reality-project__box {
    max-width: 320px;
    width: 90%;
  }
}

@media only screen and (min-width: 550px) {
  .reality-project .reality-project__box {
    max-width: 480px;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .reality-project .reality-project__box {
    max-width: 720px;
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .reality-project .reality-project__box {
    max-width: 980px;
    width: 90%;
  }
}

@media only screen and (min-width: 1280px) {
  .reality-project .reality-project__box {
    max-width: 1280px;
    width: 90%;
  }
}

.reality-project .reality-project__title {
  display: block;
  text-align: center;
  line-height: 35px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 25px;
  padding: 20px 0;
}

.reality-project .reality-project__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .reality-project .reality-project__image .reality-project__image__box__text {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .reality-project .reality-project__image .reality-project__image__box__text {
    opacity: 0;
  }
}

.reality-project .reality-project__image a {
  margin: 0 auto;
}

.reality-project .reality-project__image .reality-project__image__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 30px auto;
}

.reality-project .reality-project__image .reality-project__image__box__image {
  position: relative;
  height: auto;
}

.reality-project .reality-project__image .reality-project__image__box__text {
  opacity: 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  text-align: center;
  font-family: 微軟正黑體, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reality-project .reality-project__image .reality-project__image__box:hover .reality-project__image__box__text {
  opacity: 1;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  text-align: center;
  font-family: 微軟正黑體, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 550px) {
  .reality-project .reality-project__image__box {
    width: 100%;
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 30px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 550px) {
  .reality-project .reality-project__image__box {
    width: calc(100% / 2);
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .reality-project .reality-project__image__box {
    width: calc(100% / 2);
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .reality-project .reality-project__image__box {
    width: calc(100% / 3);
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer__content__weblogo {
  max-width: 100%;
  height: auto;
}

.footer__content__weblogo__image {
  max-width: 100%;
  width: 387px;
  right: 0px;
}

.footer__content__box {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  font-family: 微軟正黑體, sans-serif;
  line-height: 25px;
  font-style: normal;
  color: #444;
  font-size: 15px;
  margin-left: 20px;
}

.footer__content__box__btn__text {
  display: inline;
  margin-right: 30px;
  color: #444;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__content__box__btn__text:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 411px) {
  .footer .footer__content {
    padding: 20px;
  }
  .footer .footer__content__text__adress,
  .footer .footer__content__links {
    font-size: 14px;
  }
  .footer .footer__content__box__copyright {
    font-size: 10px;
    text-align: center;
  }
}

.footer__content__text__adress {
  margin-bottom: 10px;
}

::-moz-selection {
  background-color: #666;
  color: #fff;
}

::selection {
  background-color: #666;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */