@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(../image/totop.png) no-repeat left top;
  background-size: contain;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 550px) {
  .main {
    max-width: 320px;
    width: 90%;
  }
}

@media only screen and (min-width: 550px) {
  .main {
    max-width: 480px;
    width: 90%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 720px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 980px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

.main__content {
  padding: 20px;
}

.main__content .NowIn {
  display: block;
  padding: 40px 0px 0px 0px;
}

.main__content .NowIn .NowIn__content {
  line-height: 15px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #5d5d5d;
  font-variant: normal;
  font-size: 15px;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content .NowIn .NowIn__content:hover {
  color: #177cc4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content .BuildingList {
  display: block;
}

.main__content .BuildingList .BuildingList__title {
  padding: 20px 0;
  text-align: center;
  line-height: 35px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #444;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
}

@media only screen and (max-width: 320px) {
  .main__content .BuildingList .BuildingList__title {
    font-size: 28px;
  }
}

.main__content #district__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .main__content #district__image .district__image__box__text {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .main__content #district__image .district__image__box__text {
    opacity: 0;
  }
}

.main__content #district__image a {
  margin: 0 auto;
}

.main__content #district__image .district__image__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 30px auto;
  cursor: pointer;
}

.main__content #district__image .district__image__box__image {
  position: relative;
  height: auto;
}

.main__content #district__image .district__image__box__text {
  opacity: 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  text-align: center;
  font-family: 微軟正黑體, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #district__image .district__image__box:hover .district__image__box__text {
  opacity: 1;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  text-align: center;
  font-family: 微軟正黑體, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 550px) {
  .main__content .district__image__box {
    width: 100%;
  }
  .main__content .district__image a {
    width: 100%;
    padding: 0 30px;
  }
  .main__content .district__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 550px) {
  .main__content .district__image__box {
    width: calc(100% / 2);
  }
  .main__content .district__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .main__content .district__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .main__content .district__image__box {
    width: calc(100% / 2);
  }
  .main__content .district__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .main__content .district__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .main__content .district__image__box {
    width: calc(100% / 3);
  }
  .main__content .district__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .main__content .district__image__box__image {
    width: 100%;
    height: auto;
  }
}

.main__content #buildingPopUpLayer {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000d8;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container {
  display: block;
  width: 75%;
  height: 75%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.85);
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container #data_username_title {
  padding-top: 30px;
  text-align: center;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #444;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 320px) {
  .main__content #buildingPopUpLayer .buildingPopUpLayer__container #data_username_title {
    font-size: 20px;
  }
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer__container__main {
  height: 86.5%;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:hover {
  opacity: 1;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:before, .main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.data__title {
  padding: 20px 0;
  text-align: center;
  line-height: 35px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #444;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
}

.data .data__table {
  line-height: 15px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #5d5d5d;
  font-variant: normal;
  font-size: 17px;
  vertical-align: inherit;
  width: 100%;
  text-align: center;
}

.data .data__table .data__table__datainfo {
  width: 60%;
  height: 38.38px;
}

@media only screen and (max-width: 500px) {
  .data {
    padding: 20px;
  }
  .data__title {
    font-size: 20px;
  }
}

.address__map {
  display: block;
}

.address__map .address__map__title {
  padding: 20px 0;
  text-align: center;
  line-height: 35px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #444;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
}

.address__map .address__map__link {
  text-align: center;
  line-height: 15px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #5d5d5d;
  font-variant: normal;
  font-size: 15px;
  vertical-align: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.address__map .address__map__link:hover {
  color: #177cc4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer__content__weblogo {
  max-width: 100%;
  height: auto;
}

.footer__content__weblogo__image {
  max-width: 100%;
  width: 387px;
  right: 0px;
}

.footer__content__box {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  font-family: 微軟正黑體, sans-serif;
  line-height: 25px;
  font-style: normal;
  color: #444;
  font-size: 15px;
  margin-left: 20px;
}

.footer__content__box__btn__text {
  display: inline;
  margin-right: 30px;
  color: #444;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__content__box__btn__text:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 411px) {
  .footer .footer__content {
    padding: 20px;
  }
  .footer .footer__content__text__adress,
  .footer .footer__content__links {
    font-size: 14px;
  }
  .footer .footer__content__box__copyright {
    font-size: 10px;
    text-align: center;
  }
}

.footer__content__text__adress {
  margin-bottom: 10px;
}

::-moz-selection {
  background-color: #666;
  color: #fff;
}

::selection {
  background-color: #666;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */