@charset "UTF-8";
:root {
  --primary-bg-color: #fff;
  --second-bg-color: #fbfbfb;
  --button-bg-color: #444;
  --primary-button-title-color: #fff;
  --second-button-title-color: #444;
  --third-button-title-color: #5d5d5d;
  --primary-button-hover-bg-color: #e0dede;
  --second-button-hover-bg-color: #444;
  --second-button-hover-color: #fff;
  --top-bg-color: rgba(255, 255, 255, 0.918);
  --top-nav-bg-color: #fff;
  --phone-top-bottom-color: #ccc;
  --phone-top-nav-bg-color: #fff;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #444;
  --phone-top-nav-col-text-color: #444;
  --primary-burger-icon-bg-color: #444;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #ccc;
  --title-color: #444;
  --subtitle-bg: #5d5d5d;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #e1e1e1;
  --footer-bg-color: #f2f2f2;
  --subject-blue: #177cc4;
  --second-bottom-bg-color: #f7f7f7;
  --second-bottom-color: #444;
  --second-bottom-hover-bg-color: #444;
  --second-bottom-hover-color: #f7f7f7;
  --popup-bg-color: rgba(255, 255, 255, 0.85);
  --select-color: #fff;
  --select-bg-color: #666;
}

[data-theme="dark"] {
  --primary-bg-color: #212121;
  --second-bg-color: #181818;
  --button-bg-color: #313131;
  --primary-button-title-color: #fff;
  --second-button-title-color: #fff;
  --third-button-title-color: #ececec;
  --primary-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-color: #fff;
  --top-bg-color: #181818ea;
  --top-nav-bg-color: #212121;
  --phone-top-bottom-color: #2b2b2b;
  --phone-top-nav-bg-color: #212121;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #fff;
  --phone-top-nav-col-text-color: #fff;
  --primary-burger-icon-bg-color: #fff;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #2b2b2b;
  --title-color: #fff;
  --subtitle-bg: #fbfbfb;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #303030;
  --footer-bg-color: #232323;
  --second-bottom-bg-color: #444;
  --second-bottom-color: #f7f7f7;
  --second-bottom-hover-bg-color: #f7f7f7;
  --second-bottom-hover-color: #444;
  --popup-bg-color: rgba(0, 0, 0, 0.85);
  --subject-blue: #177cc4;
  --select-color: #000000;
  --select-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: var(-second-bg-color);
}

a {
  text-decoration: none;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(../image/totop.png) no-repeat left top;
  background-size: contain;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: var(--second-bg-color);
}

.main__banner {
  background-image: url("image/001.jpg");
  background-size: 100vw;
  width: 100%;
  height: calc(100vw / 3.49);
  background-position: center;
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 720px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 980px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

.main__content {
  padding: 20px 20px 30px 20px;
}

.main__content .BuildingList {
  display: block;
}

.main__content .BuildingList .BuildingList__title__content .BuildingList__title {
  display: block;
  padding: 16px 0 36px 0;
  text-align: center;
  line-height: 55px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 2em;
}

.main__content .BuildingList .BuildingList__title__content .BuildingList__text {
  display: block;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding-bottom: 36px;
}

@media only screen and (max-width: 550px) {
  .main__content .BuildingList .BuildingList__title__content {
    padding: 0 30px;
  }
  .main__content .BuildingList .BuildingList__title__content .BuildingList__title,
  .main__content .BuildingList .BuildingList__title__content .BuildingList__text {
    text-align: left;
  }
}

.main__content #district__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.main__content #district__image .district__image__box__content {
  margin: 0 auto;
}

.main__content #district__image .district__image__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 12.5px 0;
  cursor: pointer;
}

.main__content #district__image .district__image__box__image {
  position: relative;
  height: auto;
  border-radius: 5px;
  height: 100%;
}

.main__content #district__image .district__image__box .district__image__box__toptext {
  opacity: 0;
  position: absolute;
  z-index: 1;
  text-align: center;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  color: #5d5d5d;
  border-radius: 5px;
  left: 25px;
  top: -10px;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #district__image .district__image__box .district__image__box__shadow {
  opacity: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0.37)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 35%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 5px;
  top: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #district__image .district__image__box .district__image__box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  color: var(--white-title-font-color);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9), 0 0 4px rgba(0, 0, 0, 0.9);
  text-align: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
}

.main__content #district__image .district__image__box:hover .district__image__box__text {
  position: absolute;
  z-index: 1;
  left: 20px;
  bottom: 30px;
  text-align: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #district__image .district__image__box:hover .district__image__box__toptext {
  opacity: 1;
  top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #district__image .district__image__box:hover .district__image__box__shadow {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 550px) {
  .main__content #district__image .district__image__box:hover .district__image__box__text {
    left: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .main__content .district__image__box {
    width: 100%;
  }
  .main__content .district__image__box__content {
    width: 100%;
    padding: 0 30px;
  }
  .main__content .district__image__box__image {
    width: 100%;
    height: auto;
  }
  .main__content .district__image__box__shadow {
    width: calc(100% - 60px);
    height: 100%;
    left: 30px;
  }
  .main__content .district__image__box__text {
    left: 50px;
  }
}

@media only screen and (min-width: 550px) {
  .main__content .district__image__box {
    width: calc(100% / 2);
  }
  .main__content .district__image__box__content {
    width: 100%;
    padding: 0 12.5px;
  }
  .main__content .district__image__box__image {
    width: 100%;
    height: auto;
  }
  .main__content .district__image__box__shadow {
    width: calc(100% - 25px);
    height: 100%;
    left: 12.5px;
  }
  .main__content .district__image__box__text {
    left: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .main__content .district__image__box {
    width: calc(100% / 3);
  }
  .main__content .district__image__box__content {
    width: 100%;
    padding: 0 12.5px;
  }
  .main__content .district__image__box__image {
    width: 100%;
    height: auto;
  }
  .main__content .district__image__box__shadow {
    width: calc(100% - 25px);
    height: 100%;
    left: 12.5px;
  }
  .main__content .district__image__box__text {
    left: 20px;
  }
}

.main__content #buildingPopUpLayer {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000d8;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container {
  display: block;
  width: 75%;
  height: 75%;
  overflow-y: scroll;
  background-color: var(--popup-bg-color);
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container #data_username_title {
  padding-top: 30px;
  text-align: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: var(--title-color);
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 320px) {
  .main__content #buildingPopUpLayer .buildingPopUpLayer__container #data_username_title {
    font-size: 20px;
  }
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer__container__main {
  height: 86.5%;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer__container__error {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  color: var(--title-color);
  font-weight: 400;
  font-variant: normal;
  font-size: 50px;
  line-height: 75px;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer__container__error .buildingPopUpLayer__container__error__title {
  display: block;
  padding: 20px;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:hover {
  opacity: 1;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:before, .main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main__content #buildingPopUpLayer .buildingPopUpLayer__container .buildingPopUpLayer_closeLayer:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.data__title {
  padding: 20px 0;
  text-align: center;
  line-height: 35px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--title-color);
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
}

.districtData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.districtData .district__building {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
}

.districtData .district__building .district__building__name {
  display: block;
  z-index: 1;
  color: var(--subtitle-bg);
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  padding: 17px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.districtData .district__building .district__building__name:hover {
  color: #177cc4;
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 550px) {
  .districtData .district__building {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }
}

#buildingData {
  display: block;
}

#buildingData .data__table {
  line-height: 15px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--subtitle-bg);
  font-variant: normal;
  font-size: 17px;
  vertical-align: inherit;
  width: 100%;
  text-align: center;
}

#buildingData .data__table .data__table__datainfo {
  width: 60%;
  height: 38.38px;
}

@media only screen and (max-width: 500px) {
  .data {
    padding: 20px;
  }
  .data__title {
    font-size: 20px;
  }
}

.address__map {
  display: block;
}

.address__map .address__map__title {
  padding: 20px 0;
  text-align: center;
  line-height: 35px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: var(--title-color);
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
}

.address__map .address__map__link {
  text-align: center;
  line-height: 15px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #5d5d5d;
  font-variant: normal;
  font-size: 15px;
  vertical-align: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.address__map .address__map__link:hover {
  color: #177cc4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */