@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

.jssorl-009-spin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.loading-img {
  margin-top: -19px;
  position: relative;
  top: 50%;
  width: 38px;
  height: 38px;
}

.jssorl-009-spin img {
  -webkit-animation-name: jssorl-009-spin;
          animation-name: jssorl-009-spin;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes jssorl-009-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes jssorl-009-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.jssorb132 {
  position: absolute;
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.jssorb132 .i {
  width: 12px;
  height: 12px;
  position: absolute;
  cursor: pointer;
}

.jssorb132 .i .b {
  fill: #fff;
  fill-opacity: 0.8;
  stroke: #000;
  stroke-width: 1600;
  stroke-miterlimit: 10;
  stroke-opacity: 0.7;
}

.jssorb132 .i:hover .b {
  fill: #000;
  fill-opacity: 0.7;
  stroke: #fff;
  stroke-width: 2000;
  stroke-opacity: 0.8;
}

.jssorb132 .iav .b {
  fill: #000;
  stroke: #fff;
  stroke-width: 2400;
  fill-opacity: 0.8;
  stroke-opacity: 1;
}

.jssorb132 .i.idn {
  opacity: 0.3;
}

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 55px;
  height: 55px;
  top: 0px;
}

.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}

.jssora051:hover {
  opacity: 0.8;
}

.jssora051.jssora051dn {
  opacity: 0.5;
}

.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}

.jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 4000px;
  height: 1700px;
  overflow: hidden;
  visibility: hidden;
}

.slides {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 4000px;
  height: 1700px;
  overflow: hidden;
}

.slides img {
  -o-object-fit: cover;
     object-fit: cover;
}

.svg_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  width: 200;
  background-color: #ffffff;
}

body {
  overflow-x: hidden;
}

.main {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: #fff;
}

@media only screen and (max-width: 550px) {
  .main {
    max-width: 320px;
    width: 90%;
  }
}

@media only screen and (min-width: 550px) {
  .main {
    max-width: 480px;
    width: 90%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 720px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 980px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

.main__nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .main__nav {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .main__nav {
    display: none;
  }
}

.main__nav-a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 100%;
  line-height: 30px;
  font-family: "微軟正黑體";
  font-weight: 700;
  color: #444;
  font-size: 13px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .main__nav-a {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .main__nav-a {
    width: 25%;
  }
}

.main__nav-a:hover {
  color: #177cc4;
  background-color: #f7f7f7;
}

.main_nav-eng {
  font-size: 24px;
  font-weight: bold;
}

.discover__box {
  padding: 36px 0 0 0;
}

@media only screen and (max-width: 550px) {
  .discover__box {
    padding: 36px 30px;
  }
}

.discover__title {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  line-height: 35px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
}

.discover__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 11px;
  margin-left: 12.5px;
  line-height: 28px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: 1000;
  color: #5d5d5d;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 28px;
}

@media only screen and (max-width: 550px) {
  .discover__subtitle {
    font-size: 23px;
    margin-left: 0px;
  }
}

.discover__divider {
  background-color: #5d5d5d;
  width: auto;
  height: 1px;
  margin: 10px 12.5px 10px 12.5px;
}

.discover__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.discover__content__card {
  margin-bottom: 30px;
  width: 100%;
}

@media only screen and (max-width: 550px) {
  .discover__content__card .discover__content__text {
    width: 100%;
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 1;
  }
}

@media only screen and (min-width: 550px) {
  .discover__content__card {
    width: calc(100% / 2);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .discover__content__card {
    width: calc(100% / 2);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .discover__content__card {
    width: calc(100% / 4);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 0;
  }
}

@media only screen and (min-width: 1280px) {
  .discover__content__card {
    width: calc(100% / 4);
  }
  .discover__content__card .discover__content__box .apadding {
    opacity: 0;
  }
}

.discover__content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  font-family: 微軟正黑體, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  vertical-align: 0;
  margin: 0 12.5px;
}

.discover__content__box .discover__content__text__image {
  position: relative;
  width: 100%;
  height: auto;
}

.discover__content__box .atoppadding {
  z-index: 1;
  position: absolute;
  text-align: center;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #5d5d5d;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.discover__content__box .apadding {
  opacity: 1;
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 100%;
  padding: 6px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.discover__content__box:hover .atoppadding {
  position: absolute;
  z-index: 1;
  color: #177cc4;
}

.discover__content__box:hover .apadding {
  opacity: 1;
  position: absolute;
  color: #177cc4;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.reality-project {
  padding: 25px 0;
  background-color: #333;
  width: 100%;
  margin: 0;
}

.reality-project .reality-project__box {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 550px) {
  .reality-project .reality-project__box {
    max-width: 320px;
    width: 90%;
  }
}

@media only screen and (min-width: 550px) {
  .reality-project .reality-project__box {
    max-width: 480px;
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .reality-project .reality-project__box {
    max-width: 720px;
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .reality-project .reality-project__box {
    max-width: 980px;
    width: 90%;
  }
}

@media only screen and (min-width: 1280px) {
  .reality-project .reality-project__box {
    max-width: 1280px;
    width: 90%;
  }
}

.reality-project .reality-project__title {
  display: block;
  text-align: center;
  line-height: 35px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 28px;
  padding: 20px 0;
}

.reality-project .reality-project__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .reality-project .reality-project__image .reality-project__image__box__text {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .reality-project .reality-project__image .reality-project__image__box__text {
    opacity: 0;
  }
}

.reality-project .reality-project__image a {
  margin: 0 auto;
}

.reality-project .reality-project__image .reality-project__image__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 30px auto;
}

.reality-project .reality-project__image .reality-project__image__box__image {
  position: relative;
  height: auto;
  height: 100%;
}

.reality-project .reality-project__image .reality-project__image__box__text {
  opacity: 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  text-align: center;
  font-family: 微軟正黑體, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reality-project .reality-project__image .reality-project__image__box:hover .reality-project__image__box__text {
  opacity: 1;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #177cc4;
  text-align: center;
  font-family: 微軟正黑體, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 550px) {
  .reality-project .reality-project__image__box {
    width: 100%;
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 30px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 550px) {
  .reality-project .reality-project__image__box {
    width: calc(100% / 2);
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .reality-project .reality-project__image__box {
    width: calc(100% / 2);
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .reality-project .reality-project__image__box {
    width: calc(100% / 3);
  }
  .reality-project .reality-project__image a {
    width: 100%;
    padding: 0 12.5px;
  }
  .reality-project .reality-project__image__box__image {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */