* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(../image/totop.png) no-repeat left top;
  background-size: contain;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  @media only screen and (max-width: 550px) {
  }
  @media only screen and (min-width: 550px) {
  }
  @media only screen and (min-width: 768px) {
    max-width: 720px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 980px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 1280px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  /*
  @media only screen and (min-width: 550px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 768px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 1000px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  */
}
.main__content {
  padding: 20px;
  .NowIn {
    display: block;
    padding: 40px 0px 0px 0px;
    .NowIn__content {
      line-height: 15px;
      font-family: 微軟正黑體, sans-serif;
      font-style: normal;
      font-weight: 700;
      color: #5d5d5d;
      font-variant: normal;
      font-size: 15px;
      text-decoration: underline;
      transition: 0.5s;
      &:hover {
        color: #177cc4;
        transition: 0.5s;
      }
    }
  }
  .ResidentList {
    display: block;
    .ResidentList__title {
      padding: 20px 0;
      text-align: center;
      line-height: 35px;
      font-family: 微軟正黑體, sans-serif;
      font-style: normal;
      font-weight: bold;
      color: #444;
      background-color: transparent;
      text-decoration: none;
      font-variant: normal;
      font-size: 30px;
      vertical-align: 0;
    }
    @media only screen and (max-width: 320px) {
      .ResidentList__title {
        font-size: 28px;
      }
    }
  }

  #resident {
    margin: 0 auto;
    .resident__box {
      display: inline-flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 25px 0;
      width: 20%;
      line-height: 30px;
      font-family: 微軟正黑體, sans-serif;
      font-style: normal;
      font-weight: bold;
      color: #5d5d5d;
      background-color: transparent;
      font-variant: normal;
      font-size: 25px;
      vertical-align: 0;
      cursor: pointer;
      transition: 0.5s;
      .resident__box__character {
        display: block;
        text-align: center;
        width: 100%;
        .resident__box__character__image {
          width: auto;
          height: auto;
        }
        .resident__box__character__title {
          margin: 10px 0;
          line-height: 20px;
          font-family: 微軟正黑體;
          font-style: normal;
          font-weight: 700;
          font-variant: normal;
          font-size: 17px;
          vertical-align: 0;
        }
      }
      &:hover {
        color: #177cc4;
        background-color: #f7f7f7;
        transition: 0.5s;
      }
    }
    @media only screen and (max-width: 500px) {
      .resident__box {
        width: 50%;
      }
    }
    @media only screen and (min-width: 550px) {
      .resident__box {
        width: calc(100% / 2);
      }
    }
    @media only screen and (min-width: 768px) {
      .resident__box {
        width: calc(100% / 3);
      }
    }
    @media only screen and (min-width: 1024px) {
      .resident__box {
        width: calc(100% / 4);
      }
    }
    @media only screen and (min-width: 1280px) {
      .resident__box {
        width: calc(100% / 5);
      }
    }
  }
  #residentPopUpLayer {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d8;
    .residentPopUpLayer__container {
      display: block;
      width: 75%;
      height: 75%;
      overflow-y: scroll;
      background-color: rgba(255, 255, 255, 0.85);
      #data_username_title {
        padding-top: 30px;
        text-align: center;
        font-family: 微軟正黑體, sans-serif;
        font-style: normal;
        font-weight: bold;
        color: #444;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 30px;
        vertical-align: 0;
        text-transform: uppercase;
      }
      @media only screen and (max-width: 320px) {
        #data_username_title {
          font-size: 20px;
        }
      }
      .residentPopUpLayer__container__main {
        height: 86.5%;
      }
      .residentPopUpLayer__container__data {
        padding: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .residentPopUpLayer__container__data__img {
          position: fixed; /*固定位置定位*/
          top: 30%; /*距離上方的位置*/
          left: 25%; /*距離左方的位置*/
          display: block;
          width: 20%;
          #data_face_img {
            width: 60%;
            height: 60%;
          }
        }

        .residentPopUpLayer__container__data__table {
          display: block;
          position: relative;
          padding: 90px;
          left: 10%;
          width: 50%;
          .data__table {
            line-height: 40px;
            font-family: 微軟正黑體, sans-serif;
            font-style: normal;
            font-weight: bold;
            color: #2c2a2a;
            font-variant: normal;
            font-size: 20px;
            width: 100%;
            text-align: center;
            .data__table__datatitle {
            }

            .data__table__datainfo {
              width: 60%;
              height: 38.38px;
            }
            #data_project {
              overflow: auto;
              max-height: 10%;
            }
          }
          @media only screen and (max-width: 1280px) {
            .data__table {
              font-size: 15px;
            }
          }
          @media only screen and (max-width: 500px) {
            .data__table {
              font-size: 12px;
            }
          }
          @media only screen and (max-width: 400px) {
            .data__table {
              font-size: 10px;
            }
          }
        }
      }
      @media only screen and (max-width: 1919px) {
        .residentPopUpLayer__container__data {
          .residentPopUpLayer__container__data__table {
            padding: 0px;
          }
        }
      }
      @media only screen and (max-width: 768px) {
        .residentPopUpLayer__container__data {
          padding: 0;
          flex-direction: column;
          .residentPopUpLayer__container__data__img {
            position: relative;
            top: 40%; /*距離上方的位置*/
            left: 10%; /*距離左方的位置*/
            display: block;
            flex: 3 1 20%;
            order: 1;
            width: 40%;
          }
          .residentPopUpLayer__container__data__table {
            display: block;
            position: static;
            left: 0%;
            flex: 3 1 20%;
            order: 2;
            line-height: 20px;
          }
        }
      }

      .residentPopUpLayer_closeLayer {
        position: absolute;
        cursor: pointer;
        right: 30px;
        top: 30px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        &:hover {
          opacity: 1;
        }
        &:before,
        &:after {
          position: absolute;
          left: 15px;
          content: " ";
          height: 33px;
          width: 2px;
          background-color: #fff;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
.data__title {
  padding: 20px 0;
  text-align: center;
  line-height: 35px;
  font-family: 微軟正黑體, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #444;
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
}
@media only screen and (max-width: 500px) {
  .data {
    padding: 20px;
  }
  .data__title {
    font-size: 20px;
  }
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
  &__content {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__links {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    &__weblogo {
      max-width: 100%;
      height: auto;
      &__image {
        max-width: 100%;
        width: 387px;
        right: 0px;
      }
    }
    &__box {
      flex-flow: wrap;
      font-family: 微軟正黑體, sans-serif;
      line-height: 25px;
      font-style: normal;
      color: #444;
      font-size: 15px;
      margin-left: 20px;
      &__btn {
        &__text {
          display: inline;
          margin-right: 30px;
          color: #444;
          transition: 0.5s;
          &:hover {
            background-color: #000000;
            color: #ffffff;
            border-radius: 5px;
            transition: 0.5s;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 411px) {
    .footer__content {
      padding: 20px;
    }
    .footer__content__text__adress,
    .footer__content__links {
      font-size: 14px;
    }
    .footer__content__box__copyright {
      font-size: 10px;
      text-align: center;
    }
  }
}
.footer__content__text__adress {
  margin-bottom: 10px;
}

::selection {
  background-color: #666;
  color: #fff;
}
