@charset "UTF-8";
:root {
  --primary-bg-color: #fff;
  --second-bg-color: #fbfbfb;
  --button-bg-color: #444;
  --primary-button-title-color: #fff;
  --second-button-title-color: #444;
  --third-button-title-color: #5d5d5d;
  --primary-button-hover-bg-color: #e0dede;
  --second-button-hover-bg-color: #444;
  --second-button-hover-color: #fff;
  --top-bg-color: rgba(255, 255, 255, 0.918);
  --top-nav-bg-color: #fff;
  --phone-top-bottom-color: #ccc;
  --phone-top-nav-bg-color: #fff;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #444;
  --phone-top-nav-col-text-color: #444;
  --primary-burger-icon-bg-color: #444;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #ccc;
  --title-color: #444;
  --subtitle-bg: #5d5d5d;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #e1e1e1;
  --footer-bg-color: #f2f2f2;
  --subject-blue: #177cc4;
  --second-bottom-bg-color: #f7f7f7;
  --second-bottom-color: #444;
  --second-bottom-hover-bg-color: #444;
  --second-bottom-hover-color: #f7f7f7;
  --popup-bg-color: rgba(255, 255, 255, 0.85);
  --select-color: #fff;
  --select-bg-color: #666;
}

[data-theme="dark"] {
  --primary-bg-color: #212121;
  --second-bg-color: #181818;
  --button-bg-color: #313131;
  --primary-button-title-color: #fff;
  --second-button-title-color: #fff;
  --third-button-title-color: #909090;
  --primary-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-bg-color: rgb(70, 70, 70);
  --second-button-hover-color: #fff;
  --top-bg-color: #181818ea;
  --top-nav-bg-color: #212121;
  --phone-top-bottom-color: #2b2b2b;
  --phone-top-nav-bg-color: #212121;
  --phone-top-nav-col-line-color: #444;
  --phone-top-nav-col-title-color: #fff;
  --phone-top-nav-col-text-color: #fff;
  --primary-burger-icon-bg-color: #fff;
  --second-burger-icon-bg-color: #fff;
  --main-between-line-color: #2b2b2b;
  --title-color: #fff;
  --subtitle-bg: #fbfbfb;
  --white-title-font-color: #fff;
  --grey-cotainer-bg-color: #333;
  --white-font-color: #fff;
  --cover-background-color: #818cab;
  --border-bottom-color: #303030;
  --footer-bg-color: #232323;
  --second-bottom-bg-color: #444;
  --second-bottom-color: #f7f7f7;
  --second-bottom-hover-bg-color: #f7f7f7;
  --second-bottom-hover-color: #444;
  --popup-bg-color: rgba(0, 0, 0, 0.85);
  --subject-blue: #177cc4;
  --select-color: #000000;
  --select-bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: var(-second-bg-color);
}

a {
  text-decoration: none;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  overflow: hidden;
  width: 43px;
  height: 43px;
  border: none;
  text-indent: 100%;
  z-index: 999;
  background: #282a2b url(../image/totop.png) no-repeat left top;
  background-size: contain;
  border-radius: 0px;
}

#toTopHover {
  background: #282a2b url(image/totop.png) no-repeat left top;
  background-size: contain;
  width: 43px;
  height: 43px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
  outline: none;
}

body {
  overflow-x: hidden;
  background-color: var(--second-bg-color);
}

.main__banner {
  background-image: url("image/001.jpg");
  background-size: 100vw;
  width: 100%;
  height: calc(100vw / 3.49);
  background-position: center;
}

.main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  /*
  @media only screen and (min-width: 550px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 768px) {
    max-width: calc((225px * 2) + 50px);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 1000px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  */
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 720px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    max-width: 980px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

@media only screen and (min-width: 1280px) {
  .main {
    max-width: 1280px;
    border-left: 1px solid var(--main-between-line-color);
    border-right: 1px solid var(--main-between-line-color);
  }
}

.main__content {
  padding: 20px 20px 30px;
}

.main__content .ResidentList {
  display: block;
}

.main__content .ResidentList .ResidentList__title__content .ResidentList__title {
  display: block;
  padding: 16px 0 36px 0;
  text-align: center;
  line-height: 55px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 2em;
}

.main__content .ResidentList .ResidentList__title__content .ResidentList__text {
  display: block;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  text-align: center;
  line-height: 35px;
  font-style: normal;
  font-weight: 400;
  color: var(--title-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 16px;
  padding-bottom: 36px;
}

@media only screen and (max-width: 550px) {
  .main__content .ResidentList .ResidentList__title__content {
    padding: 0 30px;
  }
  .main__content .ResidentList .ResidentList__title__content .ResidentList__title,
  .main__content .ResidentList .ResidentList__title__content .ResidentList__text {
    text-align: left;
  }
}

.main__content #sortNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 0 36px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__content #sortNav .sortNav__btn, .main__content #sortNav .actSortNav__btn {
  background-color: var(--second-bottom-bg-color);
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #sortNav .sortNav__btn .sortNav__text, .main__content #sortNav .actSortNav__btn .sortNav__text, .main__content #sortNav .actSortNav__btn .actSortNav__text {
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  color: var(--second-bottom-color);
  text-decoration: none;
  font-variant: normal;
  font-size: 17px;
  padding: 6px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #sortNav .sortNav__btn:hover, .main__content #sortNav .actSortNav__btn:hover {
  background-color: var(--second-bottom-hover-bg-color);
}

.main__content #sortNav .sortNav__btn:hover .sortNav__text, .main__content #sortNav .actSortNav__btn:hover .sortNav__text, .main__content #sortNav .sortNav__btn:hover .actSortNav__btn .actSortNav__text, .main__content #sortNav .actSortNav__btn .sortNav__btn:hover .actSortNav__text, .main__content #sortNav .actSortNav__btn:hover .actSortNav__text {
  color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #sortNav .actSortNav__btn {
  background-color: var(--second-bottom-hover-bg-color);
}

.main__content #sortNav .actSortNav__btn .actSortNav__text {
  color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #resident {
  margin: 0 auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #resident .resident__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 0;
  width: 20%;
  line-height: 30px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: var(--subtitle-bg);
  background-color: transparent;
  font-variant: normal;
  font-size: 25px;
  vertical-align: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main__content #resident .resident__box .resident__box__character {
  display: block;
  text-align: center;
  width: 100%;
}

.main__content #resident .resident__box .resident__box__character .resident__box__character__image {
  width: auto;
  height: auto;
}

.main__content #resident .resident__box .resident__box__character .resident__box__character__title {
  margin: 10px 0;
  line-height: 20px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  font-size: 17px;
  vertical-align: 0;
}

.main__content #resident .resident__box:hover {
  color: #177cc4;
  background-color: var(--second-bottom-hover-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 500px) {
  .main__content #resident .resident__box {
    width: 50%;
  }
}

@media only screen and (min-width: 550px) {
  .main__content #resident .resident__box {
    width: calc(100% / 2);
  }
}

@media only screen and (min-width: 768px) {
  .main__content #resident .resident__box {
    width: calc(100% / 3);
  }
}

@media only screen and (min-width: 1024px) {
  .main__content #resident .resident__box {
    width: calc(100% / 4);
  }
}

@media only screen and (min-width: 1280px) {
  .main__content #resident .resident__box {
    width: calc(100% / 5);
  }
}

.main__content #residentPopUpLayer {
  display: none;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000d8;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container {
  display: block;
  width: 75%;
  height: 75%;
  overflow-y: scroll;
  background-color: var(--popup-bg-color);
}

.main__content #residentPopUpLayer .residentPopUpLayer__container #data_username_title {
  padding-top: 30px;
  text-align: center;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--title-color);
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
  text-transform: uppercase;
}

@media only screen and (max-width: 320px) {
  .main__content #residentPopUpLayer .residentPopUpLayer__container #data_username_title {
    font-size: 20px;
  }
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__main {
  height: 86.5%;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__img {
  position: fixed;
  /*固定位置定位*/
  top: 30%;
  /*距離上方的位置*/
  left: 25%;
  /*距離左方的位置*/
  display: block;
  width: 20%;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__img #data_face_img {
  width: 60%;
  height: 60%;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table {
  display: block;
  position: relative;
  padding: 0px;
  left: 18%;
  width: 65%;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table {
  line-height: 40px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--subtitle-bg);
  font-variant: normal;
  font-size: 20px;
  width: 100%;
  text-align: left;
  vertical-align: top;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table .data__table__datatitle {
  border-right: 1px solid #b4b4b4;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table .data__table__datainfo {
  width: 60%;
  height: 38.38px;
  padding-left: 30px;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table #data_project {
  overflow: auto;
  max-height: 10%;
}

@media only screen and (max-width: 1280px) {
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table {
    font-size: 15px;
  }
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table .data__table__datainfo {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table {
    font-size: 13px;
  }
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table .data__table .data__table__datainfo {
    padding-left: 8px;
  }
}

@media only screen and (max-width: 1280px) {
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table {
    padding: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__img {
    position: relative;
    top: 40%;
    /*距離上方的位置*/
    left: 10%;
    /*距離左方的位置*/
    display: block;
    -webkit-box-flex: 3;
        -ms-flex: 3 1 20%;
            flex: 3 1 20%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 40%;
  }
  .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer__container__data .residentPopUpLayer__container__data__table {
    display: block;
    position: static;
    left: 0%;
    -webkit-box-flex: 3;
        -ms-flex: 3 1 20%;
            flex: 3 1 20%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    line-height: 20px;
    width: 80%;
  }
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer_closeLayer {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 30px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer_closeLayer:hover {
  opacity: 1;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer_closeLayer:before, .main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer_closeLayer:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer_closeLayer:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main__content #residentPopUpLayer .residentPopUpLayer__container .residentPopUpLayer_closeLayer:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.data__title {
  padding: 20px 0;
  text-align: center;
  line-height: 35px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--title-color);
  background-color: transparent;
  text-decoration: none;
  font-variant: normal;
  font-size: 30px;
  vertical-align: 0;
}

@media only screen and (max-width: 500px) {
  .data {
    padding: 20px;
  }
  .data__title {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */