@charset "UTF-8";
.PaddingTop {
  line-height: 90px;
}

@media only screen and (max-width: 1024px) {
  .PaddingTop {
    line-height: 60px;
  }
}

.PhoneTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
  width: 100%;
  border-bottom: 3px solid var(--phone-top-bottom-color);
  background-color: var(--primary-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 768px) {
  .PhoneTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .PhoneTop {
    display: none;
  }
}

.PhoneTop .PhoneTop__mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 69px;
  height: 60px;
}

.PhoneTop .PhoneTop__mainnav .PhoneTop__mainnav__icon {
  display: block;
  cursor: pointer;
  margin: 10px 15px;
}

.PhoneTop .PhoneTop__mainnav .bar1,
.PhoneTop .PhoneTop__mainnav .bar2,
.PhoneTop .PhoneTop__mainnav .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--primary-burger-icon-bg-color);
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.PhoneTop .PhoneTop__mainnav .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.PhoneTop .PhoneTop__mainnav .change .bar2 {
  opacity: 0;
}

.PhoneTop .PhoneTop__mainnav .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.PhoneTop .PhoneTop__mainnav .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

.PhoneTop .PhoneTop__mainnav__container,
.PhoneTop #PhoneTop__mainnav__container {
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  background-color: var(--phone-top-nav-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col {
  width: 50%;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 100%;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  color: #444;
  font-size: 13px;
  border-left: 1px solid var(--main-between-line-color);
  border-right: 1px solid var(--main-between-line-color);
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng {
  font-size: 12px;
  font-weight: 500;
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__chi,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__chi {
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 767px) {
  .PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng,
  .PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a .PhoneTop__mainnav__container__col__a__eng {
    font-size: 15px;
  }
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a:hover,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col .PhoneTop__mainnav__container__col__a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--subject-blue);
}

.PhoneTop .PhoneTop__mainnav__container .PhoneTop__mainnav__container__col__line,
.PhoneTop #PhoneTop__mainnav__container .PhoneTop__mainnav__container__col__line {
  width: 1px;
  height: 80%;
  margin: 0 20px;
  background-color: var(--phone-top-nav-col-line-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.PhoneTop .PhoneTop__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 60px;
}

.PhoneTop .PhoneTop__logo .PhoneTop__logo__image {
  max-width: 320px;
  max-height: 40px;
  padding: 0 80px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: var(--top-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top .Top__container {
  max-width: 1280px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
}

@media only screen and (min-width: 0px) {
  .Top {
    display: none;
  }
  .Top .Top__logo img {
    display: none;
  }
  .Top .Top {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .Top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Top .Top__logo img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Top .Top__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.Top__logo {
  margin: 0 auto;
}

.Top__logo img {
  display: none;
  max-width: 100%;
  max-height: 40px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

.Top__nav {
  display: none;
  position: relative;
  z-index: 1;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #5d5d5d;
  height: 38px;
  border-radius: 7px;
}

.Top__nav .Top__nav__list {
  height: 24px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Top__nav .Top__nav_col__left {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  width: 140px;
  list-style: none;
  background-color: var(--button-bg-color);
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  height: 38px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__left a {
  color: var(--third-button-title-color);
}

.Top__nav .Top__nav_col__left:hover {
  background-color: var(--subject-blue);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under {
  display: block;
}

.Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle:hover {
  color: var(--subject-blue);
  background-color: var(--primary-button-hover-bg-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle:hover .ion-android-arrow-dropdown:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__left:hover .Top__nav__left_title_under .Top__nav__left_subtitle .ion-android-arrow-dropdown:before {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__burger__icon {
  display: inline-block;
  margin-top: -2.6px;
  padding-right: 0.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__burger__icon .bar1,
.Top__nav .Top__nav_col__burger__icon .bar2,
.Top__nav .Top__nav_col__burger__icon .bar3 {
  width: 14px;
  height: 2px;
  background-color: var(--second-burger-icon-bg-color);
  margin-top: 2.6px;
  border-radius: 2px;
}

.Top__nav .Top__nav__left_title_under {
  display: none;
  padding-top: 15px;
}

.Top__nav .Top__nav__left_title_under ::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--border-bottom-color);
  -webkit-transform: translateY(680%);
          transform: translateY(680%);
}

.Top__nav .Top__nav__left_title {
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  color: var(--primary-button-title-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav__left_subtitle {
  width: 270px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  padding-left: 20px;
  color: var(--primary-button-title-color);
  border: 1px solid var(--main-between-line-color);
  background-color: var(--top-nav-bg-color);
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav__left_subtitle .ion-android-arrow-dropdown {
  line-height: inherit;
  padding-right: 5px;
}

.Top__nav .Top__nav__left_subtitle .ion-android-arrow-dropdown ::before {
  content: "\f35f";
}

.Top__nav .Top__nav_col__right {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  width: 70px;
  list-style: none;
  height: 34px;
  border-top: 2px solid var(--button-bg-color);
  border-right: 2px solid var(--button-bg-color);
  border-bottom: 2px solid var(--button-bg-color);
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__right .Top__nav__right_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 45px;
  padding-left: 20px;
  color: var(--third-button-title-color);
  border: 1px solid var(--main-between-line-color);
  background-color: var(--top-nav-bg-color);
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Top__nav .Top__nav_col__right:hover {
  border-top: 2px solid var(--primary-button-hover-bg-color);
  border-right: 2px solid var(--primary-button-hover-bg-color);
  border-bottom: 2px solid var(--primary-button-hover-bg-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Top__nav .Top__nav_col__right:hover .Top__nav__right_title_under {
  display: block;
}

.Top__nav .Top__nav_col__right:hover .Top__nav__right_title_under .Top__nav__right_subtitle {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__right__burger__icon {
  display: inline-block;
  margin-top: -2.6px;
  padding-right: 0.5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav .Top__nav_col__right__burger__icon .bar1,
.Top__nav .Top__nav_col__right__burger__icon .bar2,
.Top__nav .Top__nav_col__right__burger__icon .bar3 {
  width: 14px;
  height: 2px;
  background-color: var(--primary-burger-icon-bg-color);
  margin-top: 2.6px;
  border-radius: 2px;
}

.Top__nav .Top__nav__right_title_under {
  display: none;
  position: absolute;
  padding-top: 17px;
  right: 0px;
}

.Top__nav .Top__nav__right_title {
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 37px;
  color: var(--second-button-title-color);
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Top__nav_container__language {
  position: relative;
}

.Top__nav_container__language .Top__nav {
  right: 0;
  text-align: right;
}

.Top__nav_container__menu {
  position: relative;
}

.switch {
  position: relative;
  display: inline-block;
  left: 80px;
  width: 60px;
  height: 34px;
}

.switch ::after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid var(--border-bottom-color);
  -webkit-transform: translateY(-200%) translateX(390%);
          transform: translateY(-200%) translateX(390%);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-button-hover-bg-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--subject-blue);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--subject-blue);
          box-shadow: 0 0 1px var(--subject-blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {
  background-color: var(--footer-bg-color);
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer__content__weblogo {
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.footer__content__weblogo__image {
  max-width: 100%;
  width: 387px;
  right: 0px;
}

.footer__content__box {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  line-height: 25px;
  font-style: normal;
  font-weight: 300;
  color: var(--third-button-title-color);
  font-size: 15px;
  margin-left: 20px;
}

.footer__content__box__btn__text {
  display: inline;
  margin-right: 30px;
  color: var(--third-button-title-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__content__box__btn__text:hover {
  background-color: var(--second-button-hover-bg-color);
  color: var(--second-button-hover-color);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 411px) {
  .footer .footer__content {
    padding: 20px;
  }
  .footer .footer__content__text__adress,
  .footer .footer__content__links {
    font-size: 14px;
  }
  .footer .footer__content__box__copyright {
    font-size: 10px;
    text-align: center;
  }
}

.footer__content__text__adress {
  margin-bottom: 10px;
}

::-moz-selection {
  background-color: var(--select-bg-color);
  color: var(--select-color);
}

::selection {
  background-color: var(--select-bg-color);
  color: var(--select-color);
}
/*# sourceMappingURL=top&fotter_style.css.map */