.PaddingTop {
  line-height: 90px;
  @media only screen and (max-width: 1024px) {
    line-height: 60px;
  }
}
.PhoneTop {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  z-index: 2;
  width: 100%;
  border-bottom: 3px solid #ccc;
  background-color: #fff;
  @media only screen and (min-width: 768px) {
    display: flex;
  }
  @media only screen and (min-width: 1024px) {
    display: none;
  }
  .PhoneTop__mainnav {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    right: 0;
    width: 69px;
    height: 60px;
    .PhoneTop__mainnav__icon {
      display: block;
      cursor: pointer;
      margin: 10px 15px;
    }
    .bar1,
    .bar2,
    .bar3 {
      width: 35px;
      height: 5px;
      background-color: #5d5d5d;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
      opacity: 0;
    }

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
    .break {
      flex-basis: 100%;
      height: 0;
    }
  }
  .PhoneTop__mainnav__container,
  #PhoneTop__mainnav__container {
    display: none;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #ccc;
    .PhoneTop__mainnav__container__col {
      width: 50%;
      .PhoneTop__mainnav__container__col__a {
        text-decoration-line: none;
        width: 100%;
        font-family: "Noto Sans TC", "微軟正黑體";
        color: #444;
        font-size: 13px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        transition: background-color 0.5s ease, color 0.5s ease;
        box-sizing: border-box;
        .PhoneTop__mainnav__container__col__a__eng {
          font-size: 10px;
          font-weight: bold;
        }
        .PhoneTop__mainnav__container__col__a__chi {
          font-size: 10px;
          font-weight: bold;
        }
        @media only screen and (min-width: 767px) {
          .PhoneTop__mainnav__container__col__a__eng {
            font-size: 15px;
          }
        }
        &:hover {
          transition: 0.5s;
          color: #177cc4;
        }
      }
    }
    .PhoneTop__mainnav__container__col__line {
      width: 1px;
      height: 80%;
      margin: 0 20px;
      background-color: #444;
    }
  }
  .PhoneTop__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 60px;
    .PhoneTop__logo__image {
      max-width: 320px;
      max-height: 40px;
      padding: 0 80px;
      height: auto;
      justify-content: center;
      overflow: hidden;
      object-fit: contain;
    }
  }
}
.Top {
  display: flex;
  position: fixed;
  z-index: 2;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.918);
  .Top__container {
    max-width: 1280px;
    width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  @media only screen and (min-width: 0px) {
    .Top__logo img {
      display: none;
    }
    .Top {
      display: none;
    }
    display: none;
  }
  @media only screen and (min-width: 1024px) {
    .Top__logo img {
      display: flex;
    }
    .Top__nav {
      display: flex;
    }
    display: flex;
  }
}
.Top__logo {
  margin: 0 auto;
}

.Top__logo img {
  display: none;
  max-width: 100%;
  max-height: 40px;
  height: auto;
  justify-content: center;
  width: auto;
}

.Top__nav {
  display: none;
  position: relative;
  z-index: 1;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: #5d5d5d;
  height: 38px;
  ul {
    height: 24px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &_col {
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    width: 140px;
    list-style: none;
    height: 40px;
    background-color: #444;
    border-radius: 7px;
    a {
      color: #5d5d5d;
    }
    &:hover {
      background-color: #177cc4;
      transition: 0.3s;
      .Top__nav_title_under {
        display: block;
        .Top__nav_subtitle {
          transition: 0.5s;
          &:hover {
            color: #177cc4;
            background-color: #e0e0e0;
            transition: 0.5s;
            .ion-android-arrow-dropdown:before {
              transform: rotate(-90deg);
              transition: 0.5s;
            }
          }
          .ion-android-arrow-dropdown:before {
            transition: 0.5s;
          }
        }
      }
    }
  }
  .Top__nav_col__burger__icon {
    display: inline-block;
    margin-top: -2.6px;
    padding-right: 0.5px;
    .bar1,
    .bar2,
    .bar3 {
      width: 14px;
      height: 2px;
      background-color: #fff;
      margin-top: 2.6px;
      border-radius: 2px;
    }
  }

  .Top__nav_title_under {
    display: none;
    padding-top: 15px;
    ::after {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #e1e1e1;
      transform: translateY(680%);
    }
  }
  .Top__nav_title {
    height: 100%;
    box-sizing: content-box;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  &_subtitle {
    width: 250px;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 45px;
    padding-left: 20px;
    color: #fff;
    border: 1px solid #ccc;
    background-color: #ffffff;
    text-align: left;
    box-sizing: border-box;
    .ion-android-arrow-dropdown {
      line-height: inherit;
      padding-right: 5px;
      ::before {
        content: "\f35f";
      }
    }
  }
}

.Top__nav_container__language {
  position: relative;
  .Top__nav {
    right: 0;
    text-align: right;
  }
}

.Top__nav_container__menu {
  position: relative;
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
  justify-content: space-around;
  &__content {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__links {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    &__weblogo {
      max-width: 100%;
      height: auto;
      &__image {
        max-width: 100%;
        width: 387px;
        right: 0px;
      }
    }
    &__box {
      flex-flow: wrap;
      font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
      line-height: 25px;
      font-style: normal;
      font-weight: 300;
      color: #444;
      font-size: 15px;
      margin-left: 20px;
      &__btn {
        &__text {
          display: inline;
          margin-right: 30px;
          color: #444;
          transition: 0.5s;
          &:hover {
            background-color: #000000;
            color: #ffffff;
            border-radius: 5px;
            transition: 0.5s;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 411px) {
    .footer__content {
      padding: 20px;
    }
    .footer__content__text__adress,
    .footer__content__links {
      font-size: 14px;
    }
    .footer__content__box__copyright {
      font-size: 10px;
      text-align: center;
    }
  }
}
.footer__content__text__adress {
  margin-bottom: 10px;
}

::selection {
  background-color: #666;
  color: #fff;
}
